@media(min-width:576px) {
    .header-navbar {
        display: flex;
        justify-content: space-around;
        
    }
    .header-navbar ul {
        display: flex;
        justify-content: space-between;
    }
    .header-navbar ul li {
        margin: 8px;
    }
   
    .hamburguer {
        display: none;
    }
    .product {
        width: 50%;
        
    }
    .form-tab {
        width: 70%;
        margin: auto;
    }
    
  
  
}